In [11]:
import pandas as pd

In [12]:
Magasins=pd.read_csv('C:/Users/utilisateur/2024/brief_data_engineer/data/Magasins.csv')
Produits=pd.read_csv('C:/Users/utilisateur/2024/brief_data_engineer/data/Produits.csv')
Ventes=pd.read_csv('C:/Users/utilisateur/2024/brief_data_engineer/data/Ventes.csv')

In [13]:
Magasins = Magasins.rename(columns={'ID Magasin': 'ID'})

In [14]:
Magasins = Magasins.rename(columns={'Nombre de salariés': 'nb_salaries'})

In [15]:
Magasins

   ID       Ville  nb_salaries
0   1       Paris           10
1   2   Marseille            5
2   3        Lyon            8
3   4    Bordeaux           12
4   5       Lille            6
5   6      Nantes            7
6   7  Strasbourg            9

In [16]:
Produits = Produits.rename(columns={'ID Référence produit': 'ID'})

In [17]:
Ventes = Ventes.rename(columns={'ID Référence produit': 'ID_produit'})
Ventes = Ventes.rename(columns={'ID Magasin': 'ID_magasin'})

In [18]:
Ventes['Date'] = pd.to_datetime(Ventes['Date'])

In [20]:
Produits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nom     5 non-null      object
 1   ID      5 non-null      object
 2   Prix    5 non-null      float64
 3   Stock   5 non-null      int64
dtypes: float64(1), int64(1), object(2)
memory usage: 288.0+ bytes

In [21]:
Magasins.to_csv('C:/Users/utilisateur/2024/brief_data_engineer/data/Magasins.csv', index=False)

In [22]:
Produits.to_csv('C:/Users/utilisateur/2024/brief_data_engineer/data/Produits.csv', index=False)

In [23]:
Ventes.to_csv('C:/Users/utilisateur/2024/brief_data_engineer/data/Ventes.csv', index=False)

In [10]:
Ventes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        30 non-null     datetime64[ns]
 1   ID_produit  30 non-null     object
 2   Quantité    30 non-null     int64
 3   ID_magasin  30 non-null     int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 1.1+ KB