In [11]:
import pandas as pd

In [12]:
Magasins=pd.read_csv('C:/Users/utilisateur/2024/brief_data_engineer/data/Magasins.csv')
Produits=pd.read_csv('C:/Users/utilisateur/2024/brief_data_engineer/data/Produits.csv')
Ventes=pd.read_csv('C:/Users/utilisateur/2024/brief_data_engineer/data/Ventes.csv')

In [13]:
Magasins = Magasins.rename(columns={'ID Magasin': 'ID'})

In [14]:
Magasins = Magasins.rename(columns={'Nombre de salariés': 'nb_salaries'})

In [15]:
Magasins

   ID       Ville  nb_salaries
0   1       Paris           10
1   2   Marseille            5
2   3        Lyon            8
3   4    Bordeaux           12
4   5       Lille            6
5   6      Nantes            7
6   7  Strasbourg            9

In [16]:
Produits = Produits.rename(columns={'ID Référence produit': 'ID'})

In [24]:
Ventes = Ventes.rename(columns={'ID Référence produit': 'ID_produit'})
Ventes = Ventes.rename(columns={'ID Magasin': 'ID_magasin'})
Ventes = Ventes.rename(columns={'Quantité': 'Quantite'})

In [25]:
Ventes['Date'] = pd.to_datetime(Ventes['Date'])

In [28]:
Ventes

         Date ID_produit  Quantite  ID_magasin
0  2023-05-27     REF001         5           1
1  2023-05-28     REF002         3           2
2  2023-05-29     REF003         2           1
3  2023-05-30     REF004         4           3
4  2023-05-31     REF005         7           2
5  2023-06-01     REF001         3           4
6  2023-06-02     REF002         6           1
7  2023-06-03     REF003         1           5
8  2023-06-04     REF004         2           3
9  2023-06-05     REF005         5           6
10 2023-06-06     REF001         4           7
11 2023-06-07     REF002         3           2
12 2023-06-08     REF003         6           4
13 2023-06-09     REF004         2           1
14 2023-06-10     REF005         8           3
15 2023-06-11     REF001         3           2
16 2023-06-12     REF002         5           4
17 2023-06-13     REF003         2           5
18 2023-06-14     REF004         4           7
19 2023-06-15     REF005         6           6
20 2023-06-16     REF001         3           1
21 2023-06-17     REF002         7           2
22 2023-06-18     REF003         2           3
23 2023-06-19     REF004         5           4
24 2023-06-20     REF005         4           5
25 2023-06-21     REF001         6           6
26 2023-06-22     REF002         3           7
27 2023-06-23     REF003         2           1
28 2023-06-24     REF004         4           2
29 2023-06-25     REF005         5           3

In [29]:
Magasins.to_csv('C:/Users/utilisateur/2024/brief_data_engineer/data/Magasins.csv', index=False)

In [30]:
Produits.to_csv('C:/Users/utilisateur/2024/brief_data_engineer/data/Produits.csv', index=False)

In [31]:
Ventes.to_csv('C:/Users/utilisateur/2024/brief_data_engineer/data/Ventes.csv', index=False)

In [32]:
Ventes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        30 non-null     datetime64[ns]
 1   ID_produit  30 non-null     object
 2   Quantite    30 non-null     int64
 3   ID_magasin  30 non-null     int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 1.1+ KB